# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Secrets
.env

# Cache/temp
.ruff_cache/
.pytest_cache/
.mypy_cache/
*.egg
*.log

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
